<div class='card text-center' ng-cloak ng-app="chatApp" style="
left:46rem;top: 5rem;width:25%;height:100px;">
 <div class="card-header">  
    <h1>Chatbox UI With Angular</h1>
</div>
 <div class="card-body" >
        <div class="chatbox__messages__user-message">
          <div class="chatbox__messages__user-message--ind-message">
            <p class="card-text">Hey Buddy,Welcome</p>
          </div>
        </div>
        <form>
            <textarea readonly="readonly" name="conversation" rows="10" cols="50"></textarea>
            <br/>
        <span><input type="text" size="60" name="message"   style="line-height:2.0em; width:60%;" enterkeyhint=""/>
        <button  type="btn btn-primary"   style="line-height: 2em;">Ask Me!</button></span>
          </form>
      </div>
   
    </div>